.component1 {
    display:flex;
    flex-direction:row;
    align-items:center;
    cursor:pointer
}

.button {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
    padding:0.1rem 0.2rem;
    cursor:pointer;
    font-weight:bold;
    font-size:0.42rem;
    letter-spacing:3px;
    font-family:mono;
    outline:none;
    border:2px solid transparent;
    text-align:right;
}

.button:focus {
    border:2px solid black;
    /* border-radius:3px; */

}

.emailInput {
    width:100%;
    font-family:mono;
}

input:focus {
}

.passwordInput {
    width:100%;
    text-align:right;
}

.inputFieldLabel {
    font-size:0.35rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-transform:uppercase;
    /* font-family:mono; */
    background-color:rgba(0,0,0,0.1);
    padding-top:0.1rem;
    padding-bottom:0.1rem;
    padding-left:0.3rem;
    padding-right:0.2rem;
    letter-spacing:3px;
    border-right:2px solid black;
    border-radius:3px 0 0 3px;
}

.inputField {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-end;
    padding:0.3rem 0;
}

.submitButtons {
    padding-top:0.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:right;
}