@import 'global.css';

.frame
{
    background-color:rgba(250,250,250,1);
    width:100%;
    height:100%;
    padding:0.3rem;
    margin:auto;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:center;
    overflow-y:auto;
}

.frame---view-panel
{
    padding:0.3rem;
    max-width:13rem;
}

.frame__button {
    cursor:pointer;
    padding-left:0.1rem;
    padding-right:0.1rem;
}

.frame__tool-panel
{
    display:flex;
    flex-direction:row;
    font-size:0.81rem;
}

.frame---navigation-button
{
    /* padding:0.13rem; */
}