@import 'global.css';

.frame {
    background-color:rgba(236,239,241,1);
    width:100%;
    height:100%;
    padding:0.3rem;
    margin:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:flex-start;
    overflow-y:auto;
}

.view_panel {
    padding:0.15rem;
    width:11rem;
    white-space:normal;
    text-overflow:clip;
    text-align:auto;
    height:100%;
}

.button {
    cursor:pointer;
    padding:0.1rem;
    color:rgba(255,138,101,1);

}

.tool_panel
{
    display:flex;
    flex-direction:column;
    font-size:0.81rem;
    padding:0.15rem;
    height:33%;
    background-color:rgba(38,50,56,1);
}

.frame---navigation-button
{
    /* padding:0.13rem; */
}