.component {
    display:flex;
    flex-direction:row;
}

.form__label {
    font-size:0.6rem;
}

.form__icon {

}

.form__icon--left {
    margin-right:3px;
    margin-left:0;
}

.form__icon--right {
    margin-right:0;
    margin-left:3px;
}

.form__submit-buttons {
    padding-top:0.3rem;
}

.form__change-password-button {
    cursor:pointer;
    display:table;
    font-weight:bold;
    font-size:0.6rem;
}

.form__submit-button {
    cursor:pointer;
    display:table;
    font-weight:bold;
    font-size:0.6rem;
}

.form__button {
    display:flex;
    width:100%;
    align-content:flex-end;
    justify-content:flex-end;
    padding-top:0.1rem;
}