.menu {
    display:flex;

    flex-direction:column;

    align-items:flex-start;

    justify-content:center;

    flex-wrap:wrap;

    background-color:rgba(0,0,0,0);
    
    flex-basis:content;

    font-family:mono;
    
    color:rgba(38,50,56,1);
    
    color:rgba(236,239,241,1);
    
}

.item {
    text-transform:capitalize;

    font-family:fira;

    font-size:0.59rem;

    letter-spacing:2px;
    
    padding:0.05rem;

    text-overflow:ellipsis;

    white-space:nowrap;

    text-align:center;

    outline:none;

    border-radius:3px;

    transition:color 0.07s;  

    color:rgba(236,239,241,1);

    color:rgba(207,216,220 ,1);

}

.item:before {
    content:'';
    font-size:0.8em;
    letter-spacing:2px;
    color:rgba(236,239,241,1);
}

.item:focus {
    background-color:rgba(38,50,56,1);
    color:rgba(236,239,241,1);
}

.item:active {
    color:rgba(255,138,101,1);
}
