.page {

    padding:0.13rem;

    background-color:rgba(200,200,200,0);

}

.head {

    font-size:0.57rem;
 
    font-family:sans-serif;
 
    letter-spacing:1.1px;
 
    background-color:rgba(255,138,101,0);
 
    padding:0px 0.13rem;
 
    text-transform:capitalize;

    color:rgba(236,239,241,1);

}

.body {

    padding:0.13rem 0.26rem;

    background-color:rgba(100,100,100,0);
}


